//Colors
$primary: #212121;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$grey: #555555;
$skyblue:#03A9F4;
$text:white;

//Button google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;